{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@nest(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],

  "trailingComma": "all"
}
